<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Taller #3</title>
    <link href="{{ url_for('static',filename='styles/style.css') }}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
</head>
<body>
    <h1 class="titulo">CRUD Taller #3</h1>
    <p>
        <ol>
            <li><a href="hijo.html">CRUD Tabla Hijo</a></li>
            <li><a href="padre.html">CRUD Tabla Padre</a></li>
            <li>Consultas
                <ul>
                    <li><a href="consulta1.html">Consulta 1. Hijos de un padre seleccionado</a></li>
                    <li><a href="consulta2.html">Consulta 2. Padres sin hijos</a></li>
                    <li><a href="consulta3.html">Consulta 3. Hijos sin padres</a></li>
                    <li><a href="consulta4.html">Consulta 4. Padres con el número de los hijos</a></li>
                </ul>
            </li>
        </ol>
    </p>
</body>
</html>