html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    background: rgb(219,226, 226);
    background-attachment: fixed, scroll;
}
.titulo{
    font-size: 64px;
    font-family: 'Merriweather Sans', sans-serif;
    color: rgb(226, 121, 0);
}
a{
    color: rgb(223, 159, 22);
    font-family: 'Rubik', sans-serif;
}
li{
    font-family: 'Rubik', sans-serif;
}
ul{
    list-style-type: square;
}
.contenedor{
    background: rgba(0,0,0, .5);
    border-radius: 15px;
}

.container-sm{
    width: 50%;
    height: 30%;
    padding-right: 3px;
    padding-left: 40px;
    margin-right: 50px;
    margin-left: 10px;
}

.contenedor h2{
    margin: 0 0 30px;
    padding: 0;
    font-size: 30px;
    color: #4cc9f0;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}

.contenedor .elemento label{
    color: #fff;
    font-family: 'Rubik', sans-serif;
}

.contenedor .elemento input{
    color: #fff;
    padding: 10px 0;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 30px;
    font-family: 'Rubik', sans-serif;
}

.contenedor .elemento input[type="submit"]{
    background-color: #e49400;
    border: none;
    border-radius: 5px;
    letter-spacing: 2px;
    cursor: pointer;
    padding: 10px;
    text-transform: uppercase;
    margin-top: 15px;
}
.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
  }
a.Boton{
    color: #e49400;
    text-decoration: none;
    font-size: 16px;
}
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

.row{
    background: white;
    border-radius: 30px;
}
img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

}

.contenedor.img{
    padding: 10px, 0, 0, 10px;
}
.btn1{
    border: none;
    outline: none;
    height: 30px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius:4px;
    font-weight: bold;
}
.btn2{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius:4px;
    font-weight: bold;

}